
@{
    ViewData["Title"] = "Index";
}


<form enctype="multipart/form-data" asp-action="UploadFiles" method="post">
    <h3>Upload mutil file</h3>
    <input type="file" name="myfile" multiple />
    <button>
        Upload Single File
    </button>
</form>


